<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>            
  <table class="table">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>User</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Profession</th>
        <th>Skill</th>
        <th>Experience</th>

      </tr>
    </thead>
    <tbody>
      <% records.forEach(function(user){ %>
      <tr>
        <td><%= user.fullName %></td>
        <td><%= user.email %></td>
        <td><%= user.userName %></td>
        <td><%= user.phone %></td>
        <td><%= user.address %></td>
        <td><%= user.JoinUser.profession %></td>
        <td><%= user.JoinUser.skill %></td>
        <td><%= user.JoinUser.experience %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

</body>
</html>
