<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Fonts -->
  <%- include("stylesheet") %>
</head>

<body>
  <div id="login">
    <%- include('header') %>
    <div class="container mt-5 card p-md-5 py-5">
      <div class="row">
        <div class="col-md-7">
          <h5>View Category</h5>
          <p>All Category details for the current user</p>
        </div>
        <div class="col-md-5 text-md-right">
          <button type="submit" class="btn btn-danger deleteMultiple mr-2" value="" name="delmul">Delete Selected</button>
          <a href="/category" class="btn btn-primary">Add More Category</a>
        </div>

      </div>
      <form action="/delete-multiple" method="POST" id="viewForm">
        <input type="hidden" name="idVal" id="getId" value="">
        <input type="hidden" name="checkCount" id="checkedCount" value="">
        <table class="table d-md-table table-responsive">

          <thead>
            <tr>
              <th>Created Time</th>
              <th>Category Name</th>
              <th>Project Name</th>
              <th>Password Details</th>
              <th>Action</th>

            </tr>
          </thead>
          <tbody>

            <% records.forEach(function(user){ %>
            <tr>
              <td>
                <form action="/select-to-delete" method="POST">
                  <input type="checkbox" class="form-check-input mr-2 inputId" name="idValue" value="<%= user._id %>">
                  <input type="hidden" name="hiddenIdValue" value="">
                </form>
                <%= user.date %>
                <small class="text-danger"> <%=user.lastEdit %></small>
              </td>
              <td><%= user.categoryName %></td>
              <td><%= user.projectName %></td>
              <td><%= user.passwordDetails %></td>
              <td>
                <a href="/category/edit/<%= user._id%>" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                <a onclick="return ConfirmDelete()" href="/category/delete/<%= user._id%>" class="btn btn-danger"><i
                    class="fa fa-trash"></i></a>
              </td>

            </tr>
            <% }) %>
            <% if (records.length == 0) { %>
            <tr>
              <td class="text-center" colspan="4"><strong>No data found in your database</strong></td>
            </tr>
            <tr>
              <td class="text-center border-top-0" colspan="4"><a href="/category" class="btn btn-primary">Add
                  Category</a></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% if (count > 1) { %>
        <nav class="mt-5 btm">
          <ul class="pagination">
            <li class="page-item <% if(currentPage==1){%>disabled<%}else{%><%}%>">
                <a class="page-link" href="/view-category/<%= Number(currentPage)-1 %>">Previous</a>
            </li>

            <% for (var i=1; i<=count; i++) { %>
            <li
              class="page-item <% if(currentPage==i){%>active<%}else{%><%}%>"><a class="page-link" href="/view-category/<%= i %>">
              <%= i %></a></li>
            <%}%>

              <li class="page-item <% if(currentPage==count){%>disabled<%}else{%><%}%>">
                <a class="page-link" href="/view-category/<%= Number(currentPage)+1 %>">Next</a>
            </li>
          </ul>
          <% } %>


          

        </nav>
      </form>
    </div>
  </div>


</body>
<script>
  function ConfirmDelete() {
    var x = confirm("Are you sure you want to delete?");
    if (x)
      return true;
    else
      return false;
  }

  var allHiddenbValue = [];
  if (allHiddenbValue.length == 0) {
    $('.deleteMultiple').hide();
  }
  $(".inputId").click(function () {
    var hValue = $(this).val();
    if ($(this).prop('checked') == true) {
      allHiddenbValue.push(hValue);
    } else {

      for (x in allHiddenbValue) {
        var y = allHiddenbValue[x];
        allHiddenbValue.slice(x, 1);
      }
      for (var i = allHiddenbValue.length - 1; i >= 0; i--) {
        if (allHiddenbValue[i] === hValue) {
          allHiddenbValue.splice(i, 1);
        }
      }
    }
    //console.log(allHiddenbValue)
    var getIdVal = $("#viewForm #getId").val(allHiddenbValue);
    if (allHiddenbValue.length >= 2) {
      $(".deleteMultiple").show();
    } else {
      $(".deleteMultiple").hide();
    }
    $(".deleteMultiple").submit();
  })


</script>

</html>